{% extends "base.html" %}
{% block title %} Cargos {% endblock %}

{% block content %}
<h2>Cargos</h2>
<a href="{{ url_for('cargos.cadastrar_cargo') }}" class="btn btn-sucess mt-3">
    Novo cargo
</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cargo in cargos %}
            <tr>
                <td>{{ cargo.id }}</td>
                <td>{{ cargo.nome_cargo }}</td>
                <td>{{ cargo.departamento.nome_departamento }}</td>
                <td>
                    {% if cargo.ativo %}
                        Ativo 
                    {% else %}
                        Inativo
                    {% endif %}
                </td>
                <td>
                    {% if cargo.ativo %}
                        <a href="{{ url_for('cargos.desativar_cargo', cargo_id=cargo.id) }}">
                            Desativar
                        </a>
                    {% else %}
                        <a href="{{ url_for('cargos.ativar_cargo', cargo_id=cargo.id) }}">
                            Ativar
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
