{% extends "base.html" %}
{% block title %}Contrato{% endblock %}
{% block content %}
<h1>Contratos</h1>

<a href="{{ url_for('contrato.cadastrar_contratos')}}" class="btn-primary">+ Novo Contrato</a>

<table class="table table-striped">
    
    <tr>
        <th>Funcionario</th>
        <th>Tipo</th>
        <td><strong>Data Inicio</strong></td>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    {% for c in contratos %}
        <tr>
            <td>{{ c.funcionario.nome_funcionario }}</td>
            <td>{{ c.tipo }}</td>
            <td>{{ c.data_inicio }}</td>
            <td>
                {% if c.ativo %}
                    Ativo
                {% else %}
                    Encerrado
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('presenca.listar_presencas', contrato_id=c.id) }}">
                    Presencas
                </a>
                {% if c.ativo %}
                    |<a href="{{ url_for('contrato.encerrar_contrato', funcionario_id=c.id)}}">
                        Encerrar
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
