{% extends "base.html" %}
{% block title %}Departamentos{% endblock %}
{% block content %}
<h2>Departamentos</h2>
<a href="{{ url_for('departamento.cadastrar_departamentos')}}" class="nb-3">
    Novo departamento
</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Departamento</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for dep in departamentos.items %}
        <tr>
            <td>{{ dep.id }}</td>
            <td>{{ dep.nome_departamento }}</td>
            <td>
                {% if dep.ativo %}
                    Ativo
                {% else %}
                    Inativo
                {% endif %}
            </td>
            <td>
                {% if dep.ativo %}
                    <a href="{{ url_for('departamento.desativar_departamento', departamento_id=dep.id ) }}">
                        Desativar
                    </a>
                {% else %}
                    <a href="{{ url_for('departamento.ativar_departamento', departamento_id=dep.id) }}">
                        Ativar
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
