{% extends "base.html" %}
{% block title %} Detalhes do funcionario {% endblock %}
{% block content %}
<h2>{{ funcionario.nome_funcionario }}</h2>
<div class="detalhes">
    <p><strong>Data de Nascimento:</strong> {{ funcionario.data_nascimento }}</p>
    <p><strong>Genero:</strong> {{ funcionario.genero }}</p>
    <p><strong>Estado civil:</strong> {{ funcionario.estado_civil }}</p>
    <p><strong>Email:</strong> {{ funcionario.email }}</p>
    <p><strong>Telefone:</strong> {{ funcionario.telefone }}</p>
</div>
{% endblock %}
