{% extends "base.html" %}
{% block title %} Funcionarios {% endblock %}
{% block conteudo %}
 <h2>Funcionarios</h2>
<a href="{{ url_for('funcionario.cadastrar_funcionario')}}" class="btn btn-success">
    Novo funcionario
</a>
<table class="table table-striped" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for f in funcionarios %}
        <tr>
            <td>{{ f.id }}</td>
            <td>{{ f.nome_funcionario }}</td>
            <td>{{ f.cargo.nome_cargo }}</td>
            <td>{{ f.cargo.departamento.nome_departamento }}</td>
            <td>{{ f.email }}</td>
            <td>{{ f.telefone }}</td>
            <td>.
                <a class="btn btn-warning btn-sm" href="{{ url_for ('funcionario.editar_funcionario', funcionario_id=f.id)}}">
                    Editar
                </a>
                <a class="btn btn-warning btn-sm" href="{{ url_for ('funcionario.ver_dados_do_funcionario', funcionario_id=f.id)}}">
                    Ver dados
                </a>
                <a class="btn btn-warning btn-sm" href="{{ url_for ('salario.listar', funcionario_id=f.id)}}">
                    Ver Salario
                </a>
                <a class="btn btn-warning btn-sm" href="{{ url_for ('contrato.listar', funcionario_id=f.id)}}">
                    Ver Contrato
                </a>
                <a class="btn btn-warning btn-sm" href="{{ url_for ('presenca.listar', funcionario_id=f.id)}}">
                    Ver presencas
                </a>
                <form action="{{ url_for('funcionario.deletar_funcionario', funcionario_id=f.id)}}" method="post" style="display:inline">
                    <button class="btn btn-danger btn-sm">Deletar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
