<section class="cards">
    <div class="card">
        <p>Total de funcionarios</p>
        <h2>{{ total_funcionarios}}</h2>
        <small class="success">+12 este mes</small>
    </div>
    <div class="card">
        <p>Ativos</p>
        <h2>{{ ativos}}</h2>
        <small>94% do total</small>
    </div>
    <div class="card">
        <p>Em ferias</p>
        <h2>{{ ferias }}</h2>
        <small>3% do total</small>
    </div>
    <div class="card">
        <p>Novos contratos</p>
        <h2>{{ novos_contratos }}</h2>
        <small>Este mes</small>
    </div>
</section>
