{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}
{% include "cards.html" %}
<style>
    .cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-bottom: 8px;
}
.card{
  background: white;
  padding: 20px;
  border-radius: 8px;
}
.search-area{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tabela{
  width: 100%;
  background: white;
  border-collapse: collapse;
}
.tabela th, .tabela td{
  padding: 12px;
  border-bottom: 1px solid#eeeeee;
}
.Acoes{
  padding: 12px;
  border-bottom: 1px solid#eeeeee;
}
.status.ativo{
  color: green;
  font-weight: bold;
}
.status.ferias{
  color: blue;
}
</style>
<form method="get" action="{{url_for('funcionario.listar_funcionarios')}}" class="search-area">
    <input type="text" name="q" placeholder="Buscar funcionarios..." value="{{ termo or ''}}">
    <button>Filtros</button>
    <a href="{{ url_for('funcionario.cadastrar_funcionario')}}" class="btn-primary">+ Novo funcionario</a>
</form>
{% include "funcionarios/listar_funcionarios.html" %}
{% endblock %}
