<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Editar Funcionário</title>
</head>
<body>

    <h2>Editar Funcionário</h2>

    <form action="/funcionarios/{{ funcionario[0] }}/atualizar" method="POST">

        <label>Nome:</label>
        <input type="text" name="nome" value="{{ funcionario[1] }}" required><br>

        <label>Estado Civil:</label>
        <input type="text" name="estado_civil" value="{{ funcionario[4] }}"><br>

        <label>Email:</label>
        <input type="email" name="email" value="{{ funcionario[5] }}"><br>

        <label>Telefone:</label>
        <input type="text" name="telefone" value="{{ funcionario[6] }}"><br><br>

        <button type="submit">Salvar</button>
    </form>

</body>
</html>