<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Editar funcionario</title>
</head>
<body>
    <h1>Editando funcionario</h1>
    <form action="/atualizar" method="PUT">
        <input type="hidden" name="id" value="{{funcionario[0]}}">
        <label>Nome: </label>
        <input type="text" name="nome" value="{{funcionario[1]}}">
        <br><br>

        <label>Estado civil: </label>
        <input type="text" name="estado_civil" value="{{funcionario[2]}}">
        <br><br>

        <label>Email: </label>
        <input type="email" name="email" value="{{funcionario[3]}}">
        <br><br>

        <label>Telefone: </label>
        <input type="number" name="telefone" value="{{funcionario[4]}}">
        <br><br>

        <button type="submit">Enviar</button>
    </form>
    <a href="{{url_for('home')}}">Voltar a pagina principal</a>
</body>
</html>