{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block conteudo %}
<div class="text-center mb-4">
    <h1 class="fw-bold">HELLO CÓPIA</h1>
    <p class="text-secondary">
        Seja bem-vindo ao site do Hello Cópia, o maior centro de formação do Km 30 e da Comuna dos Ramiros.
    </p>
</div>
<div class="row mb-4">

    <div class="col-md-6 mb-3">
        <div class="p-4 bg-white rounded shadow-sm">
            <h3 class="fw-semibold">Formação de Qualidade</h3>
            <p>
                Disponibilizamos cursos de alta qualidade para impulsionar o seu conhecimento e
                preparar você para o sucesso.
            </p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="p-4 bg-white rounded shadow-sm">
            <h3 class="fw-semibold">Foco no Mercado de Trabalho</h3>
            <p>
                Preparamos você para o mercado de trabalho de forma rápida, prática e orientada
                às competências essenciais da atualidade.
            </p>
        </div>
    </div>

</div>

<div class="text-center mt-4">
    <h5 class="text-muted">
        Desenvolvido por: Samuel Morais & Antonio Adolfo
    </h5>
</div>
{% endblock %}
