<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Lista de Funcionários</title>
</head>
<body>

    <h2>Funcionários</h2>

    <a href="/funcionarios/novo">Adicionar Funcionário</a>
    <br><br>

    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Estado Civil</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
        {% for f in funcionarios %}
            <tr>
                <td>{{ f[1] }}</td>
                <td>{{ f[2] }}</td>
                <td>{{ f[3] }}</td>
                <td>{{ f[4] }}</td>
                <td>
                    <a href="/funcionarios/{{ f[0] }}/editar">Editar</a>

                    <form action="/funcionarios/{{ f[0] }}/deletar"
                        method="POST"
                        style="display:inline-block">
                        <button type="submit">Deletar</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>