{% extends "base.html" %}
{% block title %} Presencas {% endblock %}
{% block content %}
<h2>Controle de Presenças </h2>
<p>
    Funcionario: <strong>{{ contrato.funcionario.nome_funcionario }}</strong>
</p>
<p>
    Tipo de contrato: <strong>{{ contrato.tipo }}</strong>
</p>
<hr>
<a href="{{ url_for('presenca.registrar_entrada', contrato_id=contrato.id)}}" class="btn-primary">Registar Entrada</a>
<br><br>
<table class="table table-hover">
    <tr>
        <th>Data</th>
        <th>Hora de Entrada</th>
        <th>Hora de Saida</th>
        <th>Ações</th>
    </tr>
    {% for p in presencas %}
    <tr>
        <td>{{ p.data }}</td>
        <th>{{ p.hora_entrada or '---'}}</th>
        <td>
            {% if p.hora_saida %}
                {{ p.hora_saida }}
            {% else %}
                ---
            {% endif %}
        </td>
        <td>
            {% if not p.hora_saida %}
                <a href="{{ url_for('presenca.registrar_saida', presenca_id=p.id) }}">
                    Registrar saida
                </a>
            {% else %}
                Finalizado
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

